<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/3bb9d2c9bc.js" crossorigin="anonymous"></script>
  <!-- Glidejs -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.css">
  <!-- Custom StyleSheet -->
  <link rel="stylesheet" href="../../public/css/home.css" />
  <link rel="stylesheet" href="../../public/css/aboutus.css" />
</head>
<body>

  <%- include("../partials/nav.ejs") %>
  
  
  <section class="section promotion" style="padding: 0;">
    <div class = "about-wrapper">
        <div class = "about-left">
          <div class = "about-left-content">
            <div>
              <div class = "shadow">
                <div class = "about-img">
                  <img src = "../../public/img/intro2.jpeg" alt = "about image">
                </div>
              </div>
              <h2></h2>
              <h3>Glasscode Club</h3>
            </div>
            <ul class = "icons-social">
              <li><a href="https://www.facebook.com/glasscodeclubSAH"><i class = "fab fa-facebook-f"></a></i></li>
              <li><a href=" https://www.linkedin.com/in/glasscode-club-633645202?"><i class = "fab fa-linkedin"></a></i></li>
              <li><a href=" https://www.instagram.com/glass_code/ "><i class = "fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class = "about-right">
          <h1>hi<span>!</span></h1>
          <h2>STRONG MENTORS, STRONG ROOTS</h2>
          
          <div class = "about-para" style="padding-left: 2em;">
            <p>Founded by harpreet singh,simarpreet singh,anuj pawar, our establishment has been serving up rich content sourced from our brilliant mentors in various fields of development. We are dedicated to provide best services.</p>
            <p>We guarantee that you will fall in love with our teaching methods the moment you walk inside our workshop. Join us now for your daily routine, creating best developers in India</p>
          </div>
        </div>
      </div>
</section>


<%- include("../partials/allfooter.ejs") %>

<!-- Glidejs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>

<!-- Custom Scripts -->
<script src="../../public/js/home.js"></script>
<script src="../../public/js/slider.js"></script>
</body>

</html>
