<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/3bb9d2c9bc.js" crossorigin="anonymous"></script>
  <!-- Glidejs -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.css">

  <!-- Custom StyleSheet -->
  <link rel="stylesheet" href="../../public/css/home.css" />
  <link rel="stylesheet" href="../../public/css/policy.css" />
</head>

<body>

    <%- include("../partials/nav.ejs") %>
    <section class="section promotion bg-policy">
        <main>
            <article class="terms-and-conditions">
                <h1 style="font-size: 3rem; font-weight: bold; margin: .7em 0; color: rgb(81, 132, 241);">Privacy Policy</h1>
                <h2  style="font-size: 2rem; font-weight: 200;  margin-bottom: .5em; color: rgb(81, 204, 241);">Welcome to our website</h2>
                <p class="policy">This policy outlines the rules and regulations for the use of our company.</p>
                <p class="policy">
                    <b>Effective date: </b> July 28, 2019
                  </p>
                  <p class="policy">
                    glasscode ("us", "we", or "our") operates the www.glasscode.com website (the "Service").
                  </p>
                  <p class="policy">
                    We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible from www.glasscode.com
                  </p>
                  <h3 style="font-size: 1.7rem; font-weight: 500;  margin-bottom: .5em; "> Information Collection And Use </h3>
                  <p class="policy">
                    We collect several different types of information for various purposes to provide and improve our Service to you.
                  </p>
                  <h2  style="font-size: 2rem; font-weight: 560;  margin-bottom: .5em; color: rgb(104, 212, 255)">Types of Data Collected</h2>
                  <h3 style="font-size: 1.7rem; font-weight: 500;  margin-bottom: .5em; color: rgb(81, 241, 241);  "> Personal Data </h3>
                  <p class="policy">While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). Personally identifiable information may include, but is not limited to:</p>
                  <ul>
                    <li class="li-policy">Email address</li>
                    <li class="li-policy">First name and last name</li>
                    <li  class="li-policy">Phone number</li>
                    <li class="li-policy">Address, State, Province, ZIP/Postal code, City</li>
                    <li class="li-policy">Cookies and Usage Data</li>
                  </ul>
                  <h3 class="h3-policy" > Usage Data </h3>
                  <p class="policy">
                    We may also collect information how the Service is accessed and used ("Usage Data"). This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.
                  </p>
                  <h2  style="font-size: 2rem; font-weight: 560;  margin-bottom: .5em; color: rgb(104, 212, 255)">Tracking & Cookies Data</h2>
                  <p class="policy">We use cookies and similar tracking technologies to track the activity on our Service and hold certain information.</p>
                  <p class="policy">Cookies are files with small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyze our Service.</p>
                  <p class="policy">You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</p>
                  <p class="policy">Examples of Cookies we use:</p>
                  <ul>
                    <li class="li-policy"><b>Session Cookies.</b> We use Session Cookies to operate our Service.</li>
                    <li class="li-policy"><b>Preference Cookies.</b> We use Preference Cookies to remember your preferences and various settings.
                        </li>
                    <li  class="li-policy">
                        <b>Security Cookies</b>. We use Security Cookies for security purposes.
                        </li>
                  </ul>
                  <h2  class="h2-policy" >Use of Data</h2>
                  <p class="policy">glasscode uses the collected data for various purposes:</p>
                  <ul>
                    <li class="li-policy">To provide and maintain the Service</li>
                    <li class="li-policy">To notify you about changes to our Service</li>
                    <li class="li-policy">To allow you to participate in interactive features of our Service when you choose to do so</li>
                    <li class="li-policy">To provide customer care and support</li>
                    <li class="li-policy">To provide analysis or valuable information so that we can improve the Service</li>
                    <li class="li-policy">To monitor the usage of the Service</li>
                    <li class="li-policy">To detect, prevent and address technical issues</li>
                  </ul>
                  <h2  class="h2-policy" >Transfer of Data</h2>
                  <p class="policy" >If you are located outside India and choose to provide information to us, please note that we transfer the data, including Personal Data, to India and process it there.</p>
                  <p class="policy" >Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</p>
                  <p class="policy" >glasscode will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.</p>
                  <p class="policy" >Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.</p>
                  <h2  class="h2-policy" >Disclosure</h2>
                  <h3 class="h3-policy"> Legal Requirements </h3>
                  <p class="policy" >glasscode may disclose your Personal Data in the good faith belief that such action is necessary to:</p>
                  <ul>
                    <li class="li-policy" >To comply with a legal obligation</li>
                    <li class="li-policy" >To protect and defend the rights or property of glasscode</li>
                    <li class="li-policy" >To prevent or investigate possible wrongdoing in connection with the Service</li>
                    <li class="li-policy" >To protect the personal safety of users of the Service or the public</li>
                    <li class="li-policy" >To protect against legal liability</li>
                </ul>
                <h2  class="h2-policy" >Security of Data</h2>
                <p class="policy " >The security of your data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</p>
                <h2  class="h2-policy" >Service Providers</h2>
                <p class="policy " >We may employ third party companies and individuals to facilitate our Service ("Service Providers"), to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.</p>
                <p class="policy " >These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>
            
                <h2  class="h2-policy" >Links To other Sites</h2>
                <p class="policy " >Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>
                <p class="policy " >We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>
                <h2  class="h2-policy" >Childers's Privacy</h2>
                <p class="policy " >Our Service does not address anyone under the age of 18 ("Children").</p>
                <p class="policy " >We do not knowingly collect personally identifiable information from anyone under the age of 18. If you are a parent or guardian and you are aware that your Children has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.</p>
                <h2  class="h2-policy" >Changes To This Privacy Policy</h2>
                <p class="policy " >We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
                <p class="policy " >We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update the "effective date" at the top of this Privacy Policy.</p>
                <p class="policy " >You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
                <h2  class="h2-policy" >Contact Us</h2>
                <p class="policy " >If you have any questions about this Privacy Policy, please contact us:</p>
                <ul>
                    <li class="li-policy">By email: glasscodeclub@gmail.com</li>
                      
                    </ul>
            </article>
            <div class="term-buttons-container" style="height: 3em;">
            </div>
        </main>
    </section>
    <!-- Footer -->
    <%- include("../partials/allfooter.ejs") %>
  <!-- End Footer -->
  
  <!-- Glidejs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>
  
  <!-- Custom Scripts -->
  <script src="../../public/js/home.js"></script>
  <script src="../../public/js/slider.js"></script>
  <script src="../../public/js/policy.js"></script>
  </body>
  
  </html>





