<section class="gallary container">
    <figure class="gallary-item item-1">
      <img src="../../public/img/grid_1.jpg" alt="" class="gallary-img">
      <div class="content">
        <h2>Our Popular Products</h2>
        <a href="#">View more</a>
      </div>
    </figure>

    <figure class="gallary-item item-2">
      <img src="../../public/img/grid_2.jpg" alt="" class="gallary-img">
      <div class="content">
        <h2>Popular Collections</h2>
      </div>
    </figure>

    <figure class="gallary-item item-3">
      <img src="../../public/img/grid_3.jpg" alt="" class="gallary-img">
      <div class="content">
        <h2>Newest Collections</h2>
      </div>
    </figure>

    <figure class="gallary-item item-4">
      <img src="../../public/img/grid_4.jpg" alt="" class="gallary-img">
      <div class="content">
        <h2>Up to 70% OFF Spring Sale!</h2>
      </div>
    </figure>
  </section>