<div class="heading">
    <h1> 70 % off  Sale </h1></div>
    <!--swiper slider-->
    <div class="swiper-container">
        <div class="swiper-wrapper">
        <!--slide 1-------------------------------------->
          <div class="swiper-slide">
          <div class="slider-box">
    <p class="time" style =" padding-top: 0.7rem">New</p>
    <div class="img-box">
    <img src="../../public/img/c1.png">
    </div>
    
    <p class="detail">Black ladies bags collections
    
    <a href="#" class="price">Price-40</a>
    </p>
    <div class="cart-sale">
    <a href="#">Add To Cart</a>
    </div>
    </div>
          
          </div>
          
          
          
          <!--slide 2-------------------------------------->
          <div class="swiper-slide">
          <div class="slider-box">
    <p class="time" style =" padding-top: 0.7rem">New</p>
    <div class="img-box">
    <img src="../../public/img/c2.png">
    </div>
    
    <p class="detail">Black ladies bags collections
    
    <a href="#" class="price">Price-40</a>
    </p>
    <div class="cart-sale">
    <a href="#">Add To Cart</a>
    </div>
    </div>
          
          </div>
          
          
          
          
          <!--slide 3-------------------------------------->
          <div class="swiper-slide">
          <div class="slider-box">
    <p class="time" style =" padding-top: 0.7rem">New</p>
    <div class="img-box">
    <img src="../../public/img/c3.png">
    </div>
    
    <p class="detail">Black ladies bags collections
    
    <a href="#" class="price">Price-40</a>
    </p>
    <div class="cart-sale">
    <a href="#">Add To Cart</a>
    </div>
    </div>
          
          </div>
          
          
          
          
          <!--slide 4-------------------------------------->
          <div class="swiper-slide">
          <div class="slider-box">
    <p class="time" style =" padding-top: 0.7rem">New</p>
    <div class="img-box">
    <img src="../../public/img/c4.png">
    </div>
    
    <p class="detail">Black ladies bags collections
    
    <a href="#" class="price">Price-40</a>
    </p>
    <div class="cart-sale">
    <a href="#">Add To Cart</a>
    </div>
    </div>
          
          </div>
          
          
          
          <!--slide 5-------------------------------------->
          <div class="swiper-slide">
          <div class="slider-box">
    <p class="time" style =" padding-top: 0.7rem">New</p>
    <div class="img-box">
    <img src="../../public/img/c5.png">
    </div>
    
    <p class="detail">Black ladies bags collections
    
    <a href="#" class="price">Price-40</a>
    </p>
    <div class="cart-sale">
    <a href="#">Add To Cart</a>
    </div>
    </div>
          
          </div>
          
          
          
          
          <!--slide 6-------------------------------------->
          <div class="swiper-slide">
          <div class="slider-box">
    <p class="time" style =" padding-top: 0.7rem">New</p>
    <div class="img-box">
    <img src="../../public/img/c6.png">
    </div>
    
    <p class="detail">Black ladies bags collections
    
    <a href="#" class="price">Price-40</a>
    </p>
    <div class="cart-sale">
    <a href="#">Add To Cart</a>
    </div>
    </div>
          
          </div>
          
          
          
          
          
          
          
          <!--slide 7-------------------------------------->
          <div class="swiper-slide">
          <div class="slider-box">
    <p class="time" style =" padding-top: 0.7rem">New</p>
    <div class="img-box">
    <img src="../../public/img/c7.png">
    </div>
    
    <p class="detail">Black ladies bags collections
    
    <a href="#" class="price">Price-40</a>
    </p>
    <div class="cart-sale">
    <a href="#">Add To Cart</a>
    </div>
    </div>
          
          </div>
          
          
          
          
          <!--slide 8-------------------------------------->
          <div class="swiper-slide">
          <div class="slider-box">
    <p class="time" style =" padding-top: 0.7rem">New</p>
    <div class="img-box">
    <img src="../../public/img/c8.png">
    </div>
    
    <p class="detail">Black ladies bags collections
    
    <a href="#" class="price">Price-40</a>
    </p>
    <div class="cart-sale">
    <a href="#">Add To Cart</a>
    </div>
    </div>
          
          </div>
          
          
          
          
          <!--slide 9-------------------------------------->
          <div class="swiper-slide">
          <div class="slider-box">
    <p class="time" style =" padding-top: 0.7rem">New</p>
    <div class="img-box">
    <img src="../../public/img/c9.png">
    </div>
    
    <p class="detail">Black ladies bags collections
    
    <a href="#" class="price">Price-40</a>
    </p>
    <div class="cart-sale">
    <a href="#">Add To Cart</a>
    </div>
    </div>
          
          </div>
          
          
          
          <!--slide 10-------------------------------------->
          <div class="swiper-slide">
          <div class="slider-box">
    <p class="time" style =" padding-top: 0.7rem">New</p>
    <div class="img-box">
    <img src="../../public/img/c1.png">
    </div>
    
    <p class="detail">Black ladies bags collections
    
    <a href="#" class="price">Price-40</a>
    </p>
    <div class="cart-sale">
    <a href="#">Add To Cart</a>
    </div>
    </div>
          
          </div>
          
          
          
    </div>
    
    </div>