<div class="heading">
    <h1> 50 % off  Sale </h1>
    
    </div>
    <!--swiper slider-->
    <div class="swiper-container">
        <div class="swiper-wrapper">
        <!--slide 1-------------------------------------->
          <div class="swiper-slide">
          <div class="slider-box">
    <p class="time" style =" padding-top: 0.7rem">New</p>
    <div class="img-box">
    <img src="../../public/img/bag1.png">
    </div>
    
    <p class="detail">Black ladies bags collections
    
    <a href="#" class="price">Price-40</a>
    </p>
    <div class="cart-sale">
    <a href="#">Add To Cart</a>
    </div>
    </div>
          
          </div>
          
          
          
          <!--slide 2-------------------------------------->
          <div class="swiper-slide">
          <div class="slider-box">
    <p class="time" style =" padding-top: 0.7rem">New</p>
    <div class="img-box">
    <img src="../../public/img/bag2.png">
    </div>
    
    <p class="detail">Black ladies bags collections
    
    <a href="#" class="price">Price-40</a>
    </p>
    <div class="cart-sale">
    <a href="#">Add To Cart</a>
    </div>
    </div>
          
          </div>
          
          
          
          
          <!--slide 3-------------------------------------->
          <div class="swiper-slide">
          <div class="slider-box">
    <p class="time" style =" padding-top: 0.7rem">New</p>
    <div class="img-box">
    <img src="../../public/img/bag3.png">
    </div>
    
    <p class="detail">Black ladies bags collections
    
    <a href="#" class="price">Price-40</a>
    </p>
    <div class="cart-sale">
    <a href="#">Add To Cart</a>
    </div>
    </div>
          
          </div>
          
          
          
          
          <!--slide 4-------------------------------------->
          <div class="swiper-slide">
          <div class="slider-box">
    <p class="time" style =" padding-top: 0.7rem">New</p>
    <div class="img-box">
    <img src="../../public/img/bag4.png">
    </div>
    
    <p class="detail">Black ladies bags collections
    
    <a href="#" class="price">Price-40</a>
    </p>
    <div class="cart-sale">
    <a href="#">Add To Cart</a>
    </div>
    </div>
          
          </div>
          
          
          
          <!--slide 5-------------------------------------->
          <div class="swiper-slide">
          <div class="slider-box">
    <p class="time" style =" padding-top: 0.7rem">New</p>
    <div class="img-box">
    <img src="../../public/img/bag5.png">
    </div>
    
    <p class="detail">Black ladies bags collections
    
    <a href="#" class="price">Price-40</a>
    </p>
    <div class="cart-sale">
    <a href="#">Add To Cart</a>
    </div>
    </div>
          
          </div>
          
          
          
          
          <!--slide 6-------------------------------------->
          <div class="swiper-slide">
          <div class="slider-box">
    <p class="time" style =" padding-top: 0.7rem">New</p>
    <div class="img-box">
    <img src="../../public/img/bag6.png">
    </div>
    
    <p class="detail">Black ladies bags collections
    
    <a href="#" class="price">Price-40</a>
    </p>
    <div class="cart-sale">
    <a href="#">Add To Cart</a>
    </div>
    </div>
          
          </div>
           
          
          
          
          
          
          
          <!--slide 7-------------------------------------->
          <div class="swiper-slide">
          <div class="slider-box">
    <p class="time" style =" padding-top: 0.7rem">New</p>
    <div class="img-box">
    <img src="../../public/img/bag7.jpg">
    </div>
    
    <p class="detail">Black ladies bags collections
    
    <a href="#" class="price">Price-40</a>
    </p>
    <div class="cart-sale">
    <a href="#">Add To Cart</a>
    </div>
    </div>
          
          </div>
          
          
          
          
          <!--slide 8-------------------------------------->
          <div class="swiper-slide">
          <div class="slider-box">
    <p class="time" style =" padding-top: 0.7rem">New</p>
    <div class="img-box">
    <img src="../../public/img/bag8.png">
    </div>
    
    <p class="detail">Black ladies bags collections
    
    <a href="#" class="price">Price-40</a>
    </p>
    <div class="cart-sale">
    <a href="#">Add To Cart</a>
    </div>
    </div>
          
          </div>
          
          
          
          
          <!--slide 9-------------------------------------->
          <div class="swiper-slide">
          <div class="slider-box">
    <p class="time" style =" padding-top: 0.7rem">New</p>
    <div class="img-box">
    <img src="../../public/img/bag9.png">
    </div>
    
    <p class="detail">Black ladies bags collections
    
    <a href="#" class="price">Price-40</a>
    </p>
    <div class="cart-sale">
    <a href="#">Add To Cart</a>
    </div>
    </div>
          
          </div>
          
          
          
          <!--slide 10-------------------------------------->
          <div class="swiper-slide">
          <div class="slider-box">
    <p class="time" style =" padding-top: 0.7rem">New</p>
    <div class="img-box">
    <img src="../../public/img/bag10.png">
    </div>
    
    <p class="detail">Black ladies bags collections
    
    <a href="#" class="price">Price-40</a>
    </p>
    <div class="cart-sale">
    <a href="#">Add To Cart</a>
    </div>
    </div>
          
          </div>
          
          
          
    </div>
    
    </div>