<section class="advert section">
    <div class="advert-center container">
      <div class="advert-box">
        <div class="dotted">
          <div class="content">
            <h2>
              Girls <br />
              Clothing
            </h2>
            <h4>Worlds Best Brands</h4>
          </div>
        </div>
        <img src="../../public/img/vert1.png" alt="">
      </div>

      <div class="advert-box">
        <div class="dotted">
          <div class="content">
            <h2>
              Summer <br />
              Clothing
            </h2>
            <h4>Worlds Best Brands</h4>
          </div>
        </div>
        <img src="../../public/img/vert3.png" alt="">
      </div>

      <div class="advert-box">
        <div class="dotted">
          <div class="content">
            <h2>
              Boys <br />
              Clothing
            </h2>
            <h4>Worlds Best Brands</h4>
          </div>
        </div>
        <img src="../../public/img/vert2.png" alt="">
      </div>
    </div>
  </section>